<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags
         <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  --> 
        <title>whereNext? App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> 
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
              <!--  <div class="header item"><i class="terminal icon"></i>Blog Site</div>  look for a suitcase or such when style -->
                <a href="/" class="item">Home</a>
                <a href="/posts/new" class="item">New Post</a>       
                

            </div>
        </div>